html, body {
    height: 100%;
    width: 100%;
    font-size: 15px;
    margin: auto;
    background-color: #FCF5E5;
    background-image: url(assets/top_secret.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 20% 0%;
}
input[type=number] {
    width: 53px;
}
textarea {
    margin-top: auto;
    background-color: rgba(200, 200, 200, 0.3);
    color: #000;
    font-size: 20px;
    width: 700px;
    height: 150px;
    margin: auto;
    word-wrap: break-word;
    word-break: break-all;
    text-align: center;
    display: block;
    resize: none;
}
textarea::placeholder {
    vertical-align: middle;
    color: #aaa;
}
div {
    margin: auto;
    overflow-wrap: break-word;
    text-align: center;
    display: block;
}
.main {
    padding-top: 2%;
    height: 90%;
    width: 100%;
    display: table;
}
.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}
.off {
    display: none;
}
#eoutput {
    width: 700px;
    height: 300px;
    border: 0px;
    outline: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: #f00;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}
#doutput {
    width: 700px;
    height: 300px;
    border: 0px;
    outline: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: #060;
}
